
.title{
  width: 1366px;
  height: 60px;
  color: darkgoldenrod;
  background-color: #333;
  font-size: 23px;
  text-indent: 10px;
  padding: 14px;
}

.sources {
  position: absolute;
  left: 0px;
  top: 60px;
  width: 1366px;
  height: 40px;
  background-color: #ccc;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.website,
.facebook {
    padding-right: 45px;
}

.website,
.facebook,
.twitter {
  cursor: pointer;
}

.fa {
    padding-right: 6px;
}


.search {
    position: absolute;
    top: 150px;
    left: 478px;
    width: 770px;
    height: 55px;
    font-size: 21px;

}
.search-keyword{
  width: 739px;
  height: 55px;
  background-color: #DEDEDE;
}
.search-icon {
  position: absolute;
  top: 16px;
  left: 709px;
  color: darkgray;
}
.feeds {
  background-color: #DEDEDE;
  position: absolute;
  top: 255px;
  left: 300px;
  height: 513px;
  width: 1066px;
}

.url {
  position: relative;
  background-color: white;
  height: 90px;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  margin: 40px 0px 0px 40px;
  list-style: none;
  display: inline-block;
  overflow: hidden;
}
.square-box {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: inherit;
  background-color: rgba(215, 215, 215, 1);
  border: none;
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: top;
  margin-right: 5px;
}
.url-name {
  width: 90%;
  height: 53%;
  font-size: 19px;
  display: inline-block;
  word-wrap: break-word;
}
.url-link {
  display: inherit;
  font-size: 12px;
    color: #979797;
  padding: 2px 0px 1px 1px;
  word-wrap: break-word;
  word-break: break-all;
}
.circle {
  position: absolute;
  left: 258px;
    top: 7px;
  font-size: 38px;
  color: #ccc;
}
.plus, .tick {
 position: absolute;
 left: 266px;
 top: 16px;
 font-size: 22px;
 color: #ccc;
}
.tick{
 display: block;
 left:263px;
}

.next {
    float: right;
    margin-top: 38px;
    margin-right: 50px;
}
.next-arrow {
    font-size: -webkit-xxx-large;
}
.next-font {
    font-weight: normal;
    font-size: 20px;
}
